body{
    margin: 0%;
}

.homebar{
    background-color: black;
    position: fixed;
    bottom: 10%;
    width: 24vw;
    border-radius: 20px;
    margin-left: 200px;
  
  
    
  
  }
  
  .homebar a{
      float: left; 
      margin: 0 5px;
      display: block;
      color:white;
      text-align: center;
      padding: 14px 14px;
      text-decoration: none;
  }
  
  .homebar a:hover{
      background-color:grey ;
      color: white;
      border-radius: 20px;
  }


  .sidepart{
    background-image: url("https://www.foodbusinessnews.net/ext/resources/2022/10/03/fresh-foods_AdobeStock_LEAD.jpeg?height=635&t=1664819046&width=1200");
    width: 50vw;
    /* background-attachment: fixed; */
    background-repeat: no-repeat;
    height: 100vh;
}


.sidepart img{
    width: 15vw;
    margin-left: 20%;
    margin-top: 5%;
}

.sidepart h2{
    color: black;
    font-size: 36px;
    margin-left: 30%;
}

.sidepart h3{
    margin-left: 30%;
    font-size: 20px;
}

.mealsslist{
    background-color: black;
    height: 108.2vh;
    width: 50%;
    margin-left: 50%;
    margin-top: -50%;
    overflow: auto;   
}


.meal1{
    color: azure;
    display: flex;
    gap: 10px;
}

.meal1 img{
    width: 10%;
}

.meal2{
    color: azure;
    display: flex;
    gap: 10px;
}

.meal2 img{
    width: 10%;
}

.meal3{
    color: azure;
    display: flex;
    gap: 10px;
}

.meal3 img{
    width: 10%;
}

.meal4{
    color: azure;
    display: flex;
    gap: 10px;
}

.meal4 img{
    width: 10%;
}

.meal5{
    color: azure;
    display: flex;
    gap: 10px;
}

.meal5 img{
    width: 10%;
}

.meal6{
    color: azure;
    display: flex;
    gap: 10px;
}

.meal6 img{
    width: 10%;
}


.meal7{
    color: azure;
    display: flex;
    gap: 10px;
}

.meal7 img{
    width: 10%;
}


.meal8{
    color: azure;
    display: flex;
    gap: 10px;
}

.meal8 img{
    width: 10%;
}

.meal9{
    color: azure;
    display: flex;
    gap: 10px;
}

.meal9 img{
    width: 10%;
}


.meal10{
    color: azure;
    display: flex;
    gap: 10px;
}

.meal10 img{
    width: 10%;
}


.meal11{
    color: azure;
    display: flex;
    gap: 10px;
}

.meal11 img{
    width: 10%;
}






@media only screen and (max-width:800px) and (min-width:0px) {
    body{
        margin: 0%;
    }
    
    .homebar{
        background-color: black;
        position: fixed;
        bottom: 10%;
        width: 93vw;
        border-radius: 20px;
      
      
        
      
      }
      
      .homebar a{
          float: left; 
          margin: 0 5px;
          display: block;
          color:white;
          text-align: center;
          padding: 14px 7px;
          text-decoration: none;
      }
      
      .homebar a:hover{
          background-color:grey ;
          color: white;
          border-radius: 20px;
      }
    
    
      .sidepart{
        background-image: url("https://www.foodbusinessnews.net/ext/resources/2022/10/03/fresh-foods_AdobeStock_LEAD.jpeg?height=635&t=1664819046&width=1200");
        width: 50vw;
        background-repeat: no-repeat;
        height: 100vh;
    }
    
    .sidepart img{
        width: 30vw;
        margin-left: 20%;
        margin-top: 5%;
        
    }
    
    .sidepart h2{
        color: white;
        font-size: 19px;
        margin-left: 30%;
    }
    
    .sidepart h3{
        margin-left: 30%;
        color: white;
        font-size: 10px;
    }
    
    .mealsslist{
        background-color: black;
        height: 142.8vh;
        width: 50vw;
        margin-left: 50%;
        margin-top: -250%;
        overflow: auto;   
    }
    
    
    .meal1{
        color: azure;
        display: flex;
        gap: 5px;
    }
    
    .meal1 img{
        width: 10%;
    }
    
    .meal2{
        color: azure;
        display: flex;
        gap: 10px;
    }
    
    .meal2 img{
        width: 10%;
    }
    
    .meal3{
        color: azure;
        display: flex;
        gap: 10px;
    }
    
    .meal3 img{
        width: 10%;
    }
    
    .meal4{
        color: azure;
        display: flex;
        gap: 10px;
    }
    
    .meal4 img{
        width: 10%;
    }
    
    .meal5{
        color: azure;
        display: flex;
        gap: 10px;
    }
    
    .meal5 img{
        width: 10%;
    }
    
    .meal6{
        color: azure;
        display: flex;
        gap: 10px;
    }
    
    .meal6 img{
        width: 10%;
    }
    
    
    .meal7{
        color: azure;
        display: flex;
        gap: 10px;
    }
    
    .meal7 img{
        width: 10%;
    }
    
    
    .meal8{
        color: azure;
        display: flex;
        gap: 10px;
    }
    
    .meal8 img{
        width: 10%;
    }
    
    .meal9{
        color: azure;
        display: flex;
        gap: 10px;
    }
    
    .meal9 img{
        width: 10%;
    }
    
    
    .meal10{
        color: azure;
        display: flex;
        gap: 10px;
    }
    
    .meal10 img{
        width: 10%;
    }
    
    
    .meal11{
        color: azure;
        display: flex;
        gap: 10px;
    }
    
    .meal11 img{
        width: 10%;
    }
    
}






@media only screen and (max-width:400px) and (min-width:0px) {
    
        body{
            margin: 0%;
        }
        
        .homebar{
            background-color: black;
            position: fixed;
            bottom: 10%;
            width: 93vw;
            border-radius: 20px;
          
          
            
          
          }
          
          .homebar a{
              float: left; 
              margin: 0 5px;
              display: block;
              color:white;
              text-align: center;
              padding: 14px 7px;
              text-decoration: none;
          }
          
          .homebar a:hover{
              background-color:grey ;
              color: white;
              border-radius: 20px;
          }
        
        
          .sidepart{
            background-image: url("https://www.foodbusinessnews.net/ext/resources/2022/10/03/fresh-foods_AdobeStock_LEAD.jpeg?height=635&t=1664819046&width=1200");
            width: 50vw;
            background-repeat: no-repeat;
            height: 100vh;
        }
        
        .sidepart img{
            width: 30vw;
            margin-left: 20%;
            margin-top: 5%;
            
        }
        
        .sidepart h2{
            color: white;
            font-size: 19px;
            margin-left: 30%;
        }
        
        .sidepart h3{
            margin-left: 30%;
            color: white;
            font-size: 10px;
        }
        
        .mealsslist{
            background-color: black;
            height: 142.8vh;
            width: 50vw;
            margin-left: 50%;
            margin-top: -250%;
            overflow: auto;   
        }
        
        
        .meal1{
            color: azure;
            display: flex;
            gap: 5px;
        }
        
        .meal1 img{
            width: 10%;
        }
        
        .meal2{
            color: azure;
            display: flex;
            gap: 10px;
        }
        
        .meal2 img{
            width: 10%;
        }
        
        .meal3{
            color: azure;
            display: flex;
            gap: 10px;
        }
        
        .meal3 img{
            width: 10%;
        }
        
        .meal4{
            color: azure;
            display: flex;
            gap: 10px;
        }
        
        .meal4 img{
            width: 10%;
        }
        
        .meal5{
            color: azure;
            display: flex;
            gap: 10px;
        }
        
        .meal5 img{
            width: 10%;
        }
        
        .meal6{
            color: azure;
            display: flex;
            gap: 10px;
        }
        
        .meal6 img{
            width: 10%;
        }
        
        
        .meal7{
            color: azure;
            display: flex;
            gap: 10px;
        }
        
        .meal7 img{
            width: 10%;
        }
        
        
        .meal8{
            color: azure;
            display: flex;
            gap: 10px;
        }
        
        .meal8 img{
            width: 10%;
        }
        
        .meal9{
            color: azure;
            display: flex;
            gap: 10px;
        }
        
        .meal9 img{
            width: 10%;
        }
        
        
        .meal10{
            color: azure;
            display: flex;
            gap: 10px;
        }
        
        .meal10 img{
            width: 10%;
        }
        
        
        .meal11{
            color: azure;
            display: flex;
            gap: 10px;
        }
        
        .meal11 img{
            width: 10%;
        }
}