body{
    margin: 0%;
    position: relative;
    
}

.homebar{
    background-color: black;
    position: fixed;
    bottom: 10%;
    width: 24vw;
    border-radius: 20px;
    margin-left: 290px;
    position: absolute;
    padding: 10px 10px;
  
    
  
  }
  
  .homebar a{
      float: left; 
      margin: 0 5px;
      display: block;
      color:white;
      text-align: center;
      padding: 14px 14px;
      text-decoration: none;
  }
  
  .homebar a:hover{
      background-color:grey ;
      color: white;
      border-radius: 20px;
  }


.restaurants{
    display: flex;
  
 

}
.activekilimani{
    justify-content: center;
    top: 5cm;
    display: flex;
    color:white;
    font-size: 16px;
    left: 70%;
}


.menupage{
    width: 50%;
    margin: 0%;
    background-image: url("images/ANKOLET.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    

}

.kilimanilink{
    width: 50vw;
    height: 45.95vw;
    background-image: url("images/ANKOLEE.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.discover{
    top: 4.5cm;
    color: white;
    font-size: 12px;
    left:70%;
    color: orange;
    display: flex;
    justify-content: center;
    padding-top: 250px;
}

.kilimanitype p{
    color:white;
    font-size: 8px;
    left: 70%;
    display: flex;
    justify-content: center;

}

.menupage h4{
    font-size: 16px;
    left: 10%;
    color: orange;
    display: flex;
    justify-content: center;
    margin-top: 40%;

}

.activekitisuru{
    color:white;
    font-size: 16px;
    left: 10%;
    display: flex;
    justify-content: center;
}

.menupage p{
    color:white;
    display: flex;
    justify-content: center;
    font-size: 10px;
    left: 10%;
}

.logo{
    width: 10%;
    position: absolute;
    margin-left: 45%;
    margin-top: 3%;
}



@media (max-width: 768px){
    .homebar{
        width: 100%;
        margin-left: 0;
        bottom: 0;
    }

    .homebar a{
        float: none;
        display: block;
        text-align: center;
    }}









@media only screen and (max-width:800px) and (min-width:0px) {
    body{
        margin: 0%;
        
        
        
    }
    
    .homebar{
        background-color: black;
        position: fixed;
        bottom: 10%;
        width: 93vw;
        border-radius: 20px;
        margin-left: 20px;
        position: absolute;
      
        
      
      }
      
      .homebar a{
          float: left; 
          margin: 0 5px;
          display: block;
          color:white;
          text-align: center;
          padding: 7px 7px;
          text-decoration: none;
      }
      
      .homebar a:hover{
          background-color:grey ;
          color: white;
          border-radius: 20px;
      }
    
    
    .restaurants{
        display: flex;
      
     
    
    }
    .activekilimani{
        justify-content: center;
        top: 5cm;
        display: flex;
        color:white;
        font-size: 16px;
        left: 70%;
    }
    
    
    .menupage{
        width: 50%;
        margin: 0%;
        background-image: url("images/ANKOLET.jpg");
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        height: 100vh;
    
    }
    
    .kilimanilink{
        width: 50vw;
        height: 45.95vw;
        background-image: url("images/ANKOLEE.jpg");
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        height: 100vh;
    }
    
    .discover{
        top: 4.5cm;
        color: white;
        font-size: 14px;
        left:70%;
        color: orange;
        display: flex;
        justify-content: center;
        padding-top: 250px;
    }
    
    .kilimanitype p{
        color:white;
        font-size: 12px;
        left: 70%;
        display: flex;
        justify-content: center;
    
    }
    
    .menupage h4{
        font-size: 16px;
        left: 10%;
        color: orange;
        display: flex;
        justify-content: center;
        margin-top: 120%;
    
    }
    
    .activekitisuru{
        color:white;
        font-size: 16px;
        left: 10%;
        display: flex;
        justify-content: center;
    }
    
    .menupage p{
        color:white;
        display: flex;
        justify-content: center;
        font-size: 12px;
        left: 10%;
    }
    
    .logo{
        width: 25vw;
        position: absolute;
        margin-left: 37%;
        margin-top: 3%;
    }
    
    
    
 
    
}