body{
    margin: 0%;
    background-color: black;
}

.homebar{
    background-color: black;
    position: fixed;
    bottom: 10%;
    width: 45%;
    border-radius: 20px;
    margin-left: 20px;   
  
  }

.homebar a{
    float: left; 
    margin: 0 5px;
    display: block;
    color:white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.homebar a:hover{
    background-color:grey ;
    color: white;
    border-radius: 20px;
  
}

.reservation{
    display: flex;
    gap: 10px;
    background-color: black;   
}

.reservation input{
  padding: 12px; 
  width: 80%;
  margin-right: 80px; 
  background-color: black; 
  color: white;
}

.reservation label{
    color: blanchedalmond;
}

.reservation img{
width: 45vw;
height: 45.3vw;
}

.reservationform{
    width: 80vw;
    height: 44vw; 
    padding-left: 50px;
}

form{
padding-top: 30px;

}

.reservationform button{
    padding: 10px;
    width: 85%;
    color: white;
    font-size: 8px;
    background-color: black;
}

#Location{
    padding: 10px;
    width:85%;
    background-color: black;
    color: antiquewhite;
   
}


@media only screen and (max-width:800px) and (min-width:0px){
    body{
        margin: 0%;
        background-color: black;
    }
    
    .homebar{
        background-color: black;
        position: fixed;
        bottom: 10%;
        width: 93vw;
        border-radius: 20px;
        margin-left: 20px;   
      
      }
    
    .homebar a{
        float: left; 
        margin: 0 5px;
        display: block;
        color:white;
        text-align: center;
        padding: 14px 7px;
        text-decoration: none;
    }
    
    .homebar a:hover{
        background-color:grey ;
        color: white;
        border-radius: 20px;
      
    }
    
    
    .reservation input{
      padding: 19px; 
      width:35vw;
      margin-right: 80px; 
      background-color: black; 
      color: white;
      font-size: 16px;
    }
    
    .reservation label{
        color: blanchedalmond;
        font-size: 15px;
    }
    
    .reservation img{
    width: 46vw;
    height: 170vw;
    }
    
    .reservationform{
        width: 35vw;
        height: 100vh; 
        padding-left: 10px;
    }
    
    form{
    padding-top: 20px;
    
    }
    
    .reservationform button{
        padding: 15px;
        width: 46vw;
        color:black;
        font-size: 15px;
        background-color: rgba(233, 182, 115);
    }
    
    #Location{
        padding: 14px;
        width:46vw;
        background-color: black;
        color: antiquewhite;
        font-size: 15px;
       
    }
    

}

