
body{
    background-color: black;
    margin: 0%;
    filter: brightness(0.6)

}

.homebar{
  background-color: black;
  position: fixed;
  bottom: 10%;
  border-radius: 20px;
  margin-left: 690px;

  

}

.homebar a{
    float: left; 
    margin: 0 5px;
    display: block;
    color:white;
    text-align: center;
    padding: 14px 14px;
    text-decoration: none;
}

.homebar a:hover{
    background-color:grey ;
    color: white;
    border-radius: 20px;
}
.landingpage{
    background-size: cover;
    background-repeat: no-repeat;
    width: 99vw;
    height: 44vw;
    animation: landingpage 9s ease-in-out infinite;
    
}
@keyframes landingpage{
    0%{background-image: url("images/ANKOLEA.jpg");}
    33%{background-image: url("/images/ANKOLEQ.jpg");}
    66%{background-image: url("images/ANKOLEF.jpg");}
    100%{background-image: url("images/ANKOLEB.jpg");}
    132%{background-image: url("images/ANKOLEC.jpg");}
}

.logo{
    width: 130px;
    margin-left: 40%;
    margin-top: 5%;
}



@media only screen and (max-width:800px) and (min-width:0px) {

body{
    background-color: black;
    filter: brightness(0.6);
    
    
}

.homebar{
  background-color: black;
  position: fixed;
  bottom: 10%;
  border-radius: 20px;
  margin-left: 20px;
  

  

}

.homebar a{
    float: left; 
    margin: 0 5px;
    display: block;
    color:white;
    text-align: center;
    padding: 7px 7px;
    text-decoration: none;
}

.homebar a:hover{
    background-color:grey ;
    color: white;
    border-radius: 20px;
}
.landingpage{
    background-size: cover;
    background-repeat: no-repeat;
    width: 98vw;
    height: 100vh;
    animation: landingpage 9s ease-in-out infinite;
    
}
@keyframes landingpage{
    0%{background-image: url("images/ANKOLEA.jpg");}
    33%{background-image: url("/images/ANKOLEQ.jpg");}
    66%{background-image: url("images/ANKOLEF.jpg");}
    100%{background-image: url("images/ANKOLEB.jpg");}
    133%{background-image: url("images/ANKOLEC.jpg");}
}

.logo{
    width: 90px;
    margin-left: 40%;
    margin-top: 5%;
}

}